.movie-tv-page {
    width: var(--desktop-content-container-width);
    height: fit-content;
    gap: 20px;
}

.movie-tv-page__posters-container {
}

.movie-tv-page__main-poster {
}

.movie-tv-page__backdrop-poster {
}

.movie-tv-page__information-container {
}

.movie-tv-page__primary-inf {
}

.movie-tv-page__title-inf {
}

.movie-tv-page__title {
}

.movie-tv-page__watchlist-button {
}

.movie-tv-page__ranking-inf {
}

.movie-tv-page__ranking {
}

.movie-tv-page__vote-average {
}

.movie-tv-page__vote-count {
}

.movie-tv-page__add-rating {
}

.movie-tv-page__about-inf {
}

@media screen and (min-width: 1105px) and (max-width: 1300px) {
    .movie-tv-page {
        max-width: var(--tablet-content-container-width);
    }

    .movie-tv-page__main-poster {
        width: 20%;
    }
}

@media screen and (max-width: 1105px) {
    .movie-tv-page {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .movie-tv-page {
        max-width: 100%;
    }
}