.category-options__option {
    height: 35px;
    width: fit-content;
    padding: 0 15px;
    margin-right: 25px;
    color: var(--unhoovered-color);
    font: var(--main-text-bold);
    border-radius: 7px;
}

@media screen and (max-width: 450px) {
    .category-options__option {
        height: 30px;
        margin-right: 15px;
        padding: 0 10px;
        font: var(--main-text-bold-mobile);
    }
}

.category-options__option:hover {
    cursor: pointer;
    color: black;
}

.category-option-selected {
    background: var(--hoovered-light-gray-color);
    color: black;
}