@import "../../../assets/styles/variables.css";

.footer-container {
    width: var(--desktop-content-container-width);
    height: 150px;
    background: var(--bacground-color);
}


@media screen and (min-width: 1105px) and (max-width: 1300px) {
    .footer-container {
        width: var(--tablet-content-container-width);
    }
}


@media screen and (max-width: 1000px) {
    .footer-container {
        width: 100%;
    }
}