@import "../../../assets/styles/variables.css";

.header {
    width: 100%;
    height: var(--header-height);
    background: var(--bacground-color);
}

.header__container {
    width: 1220px;
}

.menu-is-hovered {
    background: var(--hoovered-gray-color);

    .header__menu-icon {
        color: white;
    }
}

.header__logo-container {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: var(--navbar-width);
    padding: 0 18px;
}

.header__drop-down-menu-container {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: var(--navbar-width);
}

.header__drop-down-menu-container.menu-is-hovered {
    position: fixed;
    height: 240px;
    width: var(--navbar-width);
    border-radius: 0 0 15px 15px;
}

.header__pop-up-menu-container {
    position: fixed;
    top: var(--header-height);
}

aside {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: var(--navbar-width);
    background: var(--hoovered-gray-color);
    transform: translateX(-100%);
    transition: 0.5s ease transform ;
}

aside.visible {
    transform: translateX(0);
}

.header__slide-out-menu__header {
    width: 100%;
    height: var(--header-height);
    color: white;
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08) 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 7px), none;
}

.header__cross-icon {
    width: fit-content;
    height: fit-content;
    padding: 0 10px;
}

.header__logo {
    color: #ffff;
    position: relative;
}

.header__menu-icon {
    display: none;
    height: fit-content;
    width: fit-content;
    color: var(--unhoovered-color);
}

@media screen and (max-width: 1300px) {
    .header__menu-icon {
        display: block;
    }

    .header__container {
        width: 940px;
        height: 100%;
    }

    .header__logo-container:hover {
        cursor: pointer;
        color: var(--text-color);
    }
}

@media screen and (max-width: 1000px) {
    .header__menu-icon {
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .menu-is-hovered {
        background: var(--hoovered-gray-color);

        .header__menu-icon {
            color: white;
        }
    }

    .menu-is-hovered.gray-background {
        animation: slideOut 0.5s forwards;
    }
}