.navbar__options-container {
    position: sticky;
    top: 85px;
    height: 160px;
    width: 145px;
    padding: 5px 20px;
    gap: 12px;
}

.navbar__option {
    gap: 5px;
    cursor: pointer;
}

.navbar__option-icon {
    height: 28px;
}

.whiteBackground {
    color: #949494;
}

.navbar__option-text {
    font: var(--main-text-bold);
}

@media screen and (max-width: 450px) {
    .navbar__option-text {
        font: var(--main-text-bold);
    }
}

.whiteBackground:hover {
    color: white;
}

.blackBackground {
    color: var(--unhoovered-color);
}

.blackBackground:hover {
    color: black;
}

.selected_black {
    color: black;
}

.selected_white {
    color: white;
}

.selected_border_outline {
    border-bottom: var(--accent-color) 2px solid;
}