@import "../../../assets/styles/variables.css";

.sider {
    height: 100%;
    width: 15%;
    background: var(--secondary-background-color);
    border-right: var(--body-color) solid 2px;
}

@media screen and (max-width: 1300px) {
    .sider {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .sider {
        padding-top: var(--mobile-screen-content-padding);
    }
}
