.grid-slider__container {
    height: fit-content;
    width: 100%;

    .grid-slider__container-label {
        font: var(--subheading-text-thiner);
        color: black;
        padding-bottom: 10px;
        border-bottom: solid black 1px;
    }
}

.grid-slider__two-column-flex-container {
    position: relative;
    height: fit-content;
    width: 100%;
    gap: 30px;
    overflow-x: auto;
}

.grid-slider__two-column-flex-container::-webkit-scrollbar {
    display: none;
}

.grid-slider__small-column-container {
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width: 700px) {
    .grid-slider__two-column-flex-container {
        width: 100vw;
        padding-right: var(--desktop-screen-content-side-padding);
    }

}

@media screen and (max-width: 650px) {
    .grid-slider__container {
        padding-right: var(--mobile-screen-content-padding);
    }
}