.video-trailer__container {
    width: 100%;
    height: fit-content;
}

.video-trailer__video {
    width: 100%;
    height: fit-content;
}

.video-trailer__movie_inf_container {
    position: absolute;
    padding: 2%;
    z-index: var(--middle-z-index);
    background-image: linear-gradient(to left,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 1.0) 60%
    );
    width: 50%;

    p {
        position: relative;
        color: white;
        font: var(--main-text-mobile);
        line-height: 1.5;
        width: 80%;

        span {
            font: var(--main-text-bold-mobile);
        }
    }
}

.video-trailer__dune-logo {
    position: relative;
    width: 40%;
    height: fit-content;
}


.video-trailer__button {
    position: relative;
    padding: 0 25px;
    width: 110px;
    height: 40px;
    background-image: linear-gradient(135deg, var(--accent-color) 70%, var(--secondary-accent-color));
    border-radius: 20px;
    transition: transform 0.3s ease;

    p {
        font: var(--main-text-bold-mobile);
        color: white;
    }
}

.video-trailer__button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

