/*-----------COLORS-------------------------------------------------*/
:root {

}
/*-------SIZES---------------------------------------------------*/
:root {
    --desktop-content-container-width: 1300px;
    --tablet-content-container-width: 1000px;
    --mobile-content-container-width: 450px;
}

/*--------FONTS----------------------------------------------------*/
:root {
    --heading-text: 900 30px/1 'Be Vietnam Pro', sans-serif;
    --super-heading-text: 900 50px/1.2 'Be Vietnam Pro', sans-serif;
    --subheading-text: 900 20px/1.4 'Be Vietnam Pro', sans-serif;
    --subheading-text-bigger: 900 22px/1.4 'Be Vietnam Pro', sans-serif;
    --main-text: 400 16px/1.4 'Be Vietnam Pro', sans-serif;
    --main-text-bold: 700 16px/1.4 'Be Vietnam Pro', sans-serif;
    --main-text-bigger-bold: 900 18px/1 'Be Vietnam Pro', sans-serif;
    --subscript-text-bold: 900 12px/1.2 'Be Vietnam Pro', sans-serif;
    --subscript-text: 400 12px/1.2 'Be Vietnam Pro', sans-serif;
}
